{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   
    <meta charset="utf-8" />
    <title>Donation Page</title>
    <link rel="stylesheet" href="{% static 'css/StyleSheet2.css' %}">
</head>
<body style="background-color:#51f079 ;">
        <div class="hero1">
        </div>
    
        <div class="form-box1" >
        
            
            <form  action="donation" method="post" class="input-group1" >
                {% csrf_token %}
               
                <span>Donor UserName:</span>
                <input name="donor_name" type="text" class="input-field1" placeholder="User Name" value={{name}} readonly>
                <span>Donor Name:</span>
                <input name="donor_name1" type="text" class="input-field1" placeholder="User Name" value={{name1}} readonly>
                
                <span>Phone Number:</span>
                
                <input name="phone" type="text" class="input-field1" placeholder="Phone Number" required>
                <span>Food Item:</span>
                <input name="food_item" type="text" class="input-field1" placeholder="Food Item" required>
                <span>Quantity:</span>
                <input name="quantity" type="text" class="input-field1" placeholder="Quantity" required>
                <span>Food Timing:</span>
                
                <select name="food_timing" id="cars" required>
                  <option value="" class="" disabled selected>Food Timing</option>
                  <option value="morning" class="options">Morning</option>
                  <option value="afternoon" class="options">Afternoon</option>
                  <option value="evening" class="options">Evening</option>
                  <option value="night" class="options">Night</option>
                </select>
                <span>Date Of Preparation:</span>
                <input name="date" type="date" class="input-field1" placeholder="Date Of Preparation" required>
                <span>Time Of Preparation:</span>
                <input name="time" type="time" class="input-field1" placeholder="Time Of Preparation" required>
                <span>City:</span>
                <select name="city" id="cars" required>
                    <option value="" class="" disabled selected>Select your city</option>
                    <option value="Tirupati" class="options">Tirupati</option>
                    <option value="Vizag" class="options">Vizag</option>
                    <option value="Rajahmundry" class="options">Rajahmundry</option>
                    <option value="Bhimavaram" class="options">Bhimavaram</option>
                    <option value="Vijayawada" class="options">Vijaywada</option>
                  </select>
                <span>Address:</span>
                <table>
                  <tr>
               <th><textarea name="address" class="text" required>
                
                </textarea></th>
                <th>
                
                </th>
              </tr>
              </table>
                <input type="submit" class="submit-btn1" value="Donate"></input>
            </form>
         <!---   <input type="submit" class="submit-btn2" value="GPS" id="button"></input> -->
            

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          const locationButton = document.getElementById("button");
          locationButton.addEventListener("click", () =>
          {
            console.log("mg")

            if (navigator.geolocation) 
            {
              navigator.geolocation.getCurrentPosition(
                (position) => 
                {
                  const pos = {lat: position.coords.latitude,lng: position.coords.longitude};
                  console.log(position.coords.longitude,position.coords.latitude);
                  var address="https://maps.googleapis.com/maps/api/geocode/json?latlng="+position.coords.latitude+","+position.coords.longitude+"&key=AIzaSyDkC4c4IPa7I9VbZxXvpbhTBxzp_AutL58";
                  //console.log(address);
                  var dir="https://maps.googleapis.com/maps/api/geocode/json?latlng="
                //console.log(dir.results[0]);
                  $.get({url:address,success:function(data)
                    {
                        console.log(data);
                        add=data.results[0].formatted_address;
                        console.log(add); 
                    }});

                   
                })
                
            }
          })  
        </script>
    
</body>
</html>

