{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Donation Page</title>
    <link rel="stylesheet" href="{% static 'css/StyleSheet2.css' %}">
</head>
<body style="background-color:#51f079 ;">
        <div class="hero1">
        </div>
    
        <div class="form-box1" >
        
            
            <form  action="donation" method="post" class="input-group1" >
                {% csrf_token %}
               
                <span>Donor Name:</span>
                <input name="donor_name" type="text" class="input-field1" placeholder="User Name" required>
                <span>Food Item:</span>
                <input name="food_item" type="text" class="input-field1" placeholder="Food Item" required>
                <span>Quantity:</span>
                <input name="quantity" type="text" class="input-field1" placeholder="Quantity" required>
                <span>Food Timing:</span>
                
                <select name="food_timing" id="cars">
                  <option value="lokesh" class="varun" disabled selected>Food Timing</option>
                  <option value="morning" class="options">Morning</option>
                  <option value="afternoon" class="options">Afternoon</option>
                  <option value="evening" class="options">Evening</option>
                  <option value="night" class="options">Night</option>
                </select>
                <span>Date Of Preparation:</span>
                <input name="date" type="date" class="input-field1" placeholder="Date Of Preparation" required>
                <span>Time Of Preparation:</span>
                <input name="time" type="time" class="input-field1" placeholder="Time Of Preparation" required>
                <span>City:</span>
                <select name="city" id="cars">
                    <option value="lokesh" class="varun" disabled selected>Select your city</option>
                    <option value="Tirupati" class="options">Tirupati</option>
                    <option value="Vizag" class="options">Vizag</option>
                    <option value="Rajahmundry" class="options">Rajahmundry</option>
                    <option value="Bhimavarm" class="options">Bhimavaram</option>
                    <option value="Vijaywada" class="options">Vijaywada</option>
                  </select>
                <span>Address:</span>
                <textarea name="address" class="text">
                </textarea>
                
                <input type="submit" class="submit-btn1" value="Donate"></input>
            </form>

            

        </div>
    
</body>
</html>