{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="back" content="0; url=http://www.youtube.com">
	<title>Diet </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>

	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">

	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="{% static 'images/l_o_g_o.jpg' %}">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
                <li class="nav-item active">
					<a class="nav-link" href="#">Hello {{name}}</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="home2">Home</a>
                </li>
                <li>
                    <a class="nav-link active" href="#">Diet</a>
                </li>
				<li class="nav-item">
					<a class="nav-link" href="aboutus2">About</a>
				</li>
				
				
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Donate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="donation">Donate Food</a>
                      <a class="dropdown-item" href="money">Donate Money</a>
                      
                    </div>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="volunteer">Volunteer</a>
				  </li>
			
			</ul>
		</div>
	</div>
</nav>

<!--Displaying diet-->
<!--Heading-->
<div class="container">   
    <div class="row d-flex justify-content-center" class="input-group1" >
        <div class="col-md-10 mt-5 pt-5" >
          <center>  <h1 style="color: teal;">Diet for individuals above the age of 50</h1>
            <hr  class="badge-primary mt-0 w-30" style="width:92%;padding-left:18px; background-color:red" >
        </center>
        </div>
    </div>
</div>

<!--50 + -->
<div class="container">   
    <div class="row d-flex justify-content-center" class="input-group1" >
        <div class="col-md-10 mt-5 pt-5" style="background-color:lightgreen;" >
          <center>  <h2 >Food Diet for individuals in their 50's </h2>
            <hr  class="badge-primary mt-0 w-30" style="width:68%;padding-left:18px; background-color:blue" ></center>
         <div style="padding-left: 60px;padding-right:60px; ">
         <p>  At the age of 51, women need 1,200 mg of calcium each day to help counter the rapid
              bone loss that occurs at menopause. Calcium requirements don't increase for men until the age of 71, 
              when bone loss and fracture risk rise significantly. With age, men and women have a reduced capacity to 
              produce vitamin D through sun exposure. The official recommended dietary allowance for vitamin D increases from 
              600 IU (international units) to 800 IU at the age of 70. However, many experts recommend adults older than 50 supplement 
              with 1,000 to 2,000 IU each day to maintain sufficient stores.

         </p><p>   Vitamin B12, needed to make red blood cells, nerves and DNA, should also be supplemented after 50; a
              multivitamin will do the trick. Many older adults do not produce enough hydrochloric acid in their stomach to absorb 
              the vitamin from foods.
        </p>
        </div>
        <br>
        </div>
    </div>
</div>

<!--older people -->
<div class="container">   
    <div class="row d-flex justify-content-center" class="input-group1" >
        <div class="col-md-10 mt-5 pt-5" style="background-color:lightyellow;" >
          <center>  <h2 >Food Diet for older people </h2>
            <hr  class="badge-primary mt-0 w-30" style="width:68%;padding-left:18px; background-color:blue" ></center>
         <div style="padding-left: 60px;padding-right:60px; ">
         <p> Many people eat less as they get older – this can make it harder to make sure your diet
              has enough variety to include all the nutrition you need.

            

         </p><p>   Recommendations include:
        </p>
        <ul>
          <li> Be as active as possible to encourage your appetite and maintain muscle mass.
        </li><li>Remain healthy with well-balanced eating and regular exercise.
        </li><li>Eat foods that are nutrient dense rather than energy dense, including eggs, lean meats, fish, liver, low-fat dairy foods, nuts and seeds, legumes, fruit and vegetables, wholegrain breads and cereals.
        </li><li>If possible, try to spend some time outside each day to boost your vitamin D synthesis for healthy bones.
        </li><li>Limit foods that are high in energy and low in nutrients such as cakes, sweet biscuits and soft drinks.
        </li><li>Choose foods that are naturally high in fibre to encourage bowel health.
        </li><li>Limit the use of table salt, especially during cooking.
        </li><li>Choose from a wide variety of foods and drink adequate fluids.
        </li><li>Share mealtimes with family and friends.</li>
        </ul>
        </div>
        <br>
        </div>
    </div>
</div>



<br><br><br><br>

<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<img src="{% static 'images/l_o_g_o.jpg' %}">
				<hr class="light">
				<p>938-186-1337</p>
				<p>paipuri.lokesh@gmail.com</p>
				<p>Tirupathi</p>
				<P>517619</P>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Vision</h5>
				<hr class="light">
				<p style="padding-left: 2.3rem ;padding-right: 2.3rem;">Our vision is to bring a social change in every individual in-order to reduce
					food waste and to make the World Hunger Free and raise awareness about food
					loss and food waste amongst citizens
				</p>
				
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Team</h5>
				<hr class="light">
				<p>Rohit Sai</p>
				<p>Varun Simha</p>
				<p>Naga Lokesh</p>
				<p>Raj Kumar</p>
			</div>
		</div>
	</div>
</footer>
    


</body>
</html>
