{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="back" content="0; url=http://www.youtube.com">
	<title>Diet </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>

	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">

	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="{% static 'images/l_o_g_o.jpg' %}">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item ">
					<a class="nav-link" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-link active" href="#">Diet</a>
                </li>
				<li class="nav-item">
					<a class="nav-link" href="aboutus">About</a>
				</li>
				
				
				  <li class="nav-item">
					<a class="nav-link" href="login">Donate</a>
				  </li>
			
			</ul>
		</div>
	</div>
</nav>

<!--Displaying diet-->
<div class="container">   
    <div class="row d-flex justify-content-center" class="input-group1" >
        <div class="col-md-10 mt-5 pt-5" >
          <center>  <h1 style="color: teal;">Diet for children between age 0 and 19</h1>
            <hr  class="badge-primary mt-0 w-30" style="width:88%;padding-left:18px; background-color:red" >
        </center>
        </div>
    </div>
</div>
<div class="container">   
    <div class="row d-flex justify-content-center" class="input-group1" >
        <div class="col-md-10 mt-5 pt-5" style="background-color:aliceblue ;">
          <center>  <h2>Babies – birth to six months of age</h2>
            <hr  class="badge-primary mt-0 w-30" style="width:68%;padding-left:18px;" >
        </center>
       <div style="padding-left:60px;padding-right:60px;"> 
<p>Babies usually double their length and triple their weight between birth and one year of age.
     Breastmilk generally supplies a baby with the required amounts of nutrients, fluids and energy up to about six months of age.
      It is recommended that infants be exclusively breastfed up to around six months of age.
</p><p>
Breastmilk is preferred to infant formula where possible, as it contains many protective and immunological factors 
that benefit the baby’s development. Fruit juice is not recommended for babies under the age of six months.
</p><p>
Breastmilk or correctly prepared infant formula provides enough water for a healthy baby to replace 
any water losses. However, all babies need extra water once solid foods are introduced.
</p>
<br>
</div>
        </div>
    </div>
</div>


<div class="container">   
    <div class="row d-flex justify-content-center" class="input-group1" >
        <div class="col-md-10 mt-5 pt-5" style="background-color:lightyellow ;">
          <center>  <h2>Food for babies – six to 12 months of age</h2>
            <hr  class="badge-primary mt-0 w-30" style="width:75%;padding-left:18px;" >
        </center>
       <div style="padding-left:60px;padding-right:60px;"> 
        <p>
        Solids should be introduced around six months of age to meet your baby’s increasing nutritional and developmental needs. 
        However, breastfeeding should continue until twelve months of age and beyond, or for as long as the mother and child desire.
    </p><p>
        Different societies have their own traditions about which food is more appropriate to start feeding a baby with.
         Culturally appropriate foods and preparation methods should be encouraged when these are nutritionally adequate.
        </p><p>
        As a baby is gradually weaned from the breast or bottle and new solids are introduced, there may be reduced body stores of iron.
         To maintain nutrient body stores:</p>
         <ul>
             <li>
                Give your baby foods that are rich in iron and zinc, such as iron-enriched infant cereals, pureed meats and poultry dishes, 
                cooked plain tofu and legumes/soy beans/lentils. Iron-enriched rice-based cereals are frequently recommended as the first food
                 to be introduced, as there is the additional benefit of a lower risk of an allergic reaction.
             </li><li>Foods can be introduced in any order, provided the texture is suitable for your baby’s stage of development. 
                 Foods range from fruits and vegetables (for vitamin and mineral content) to meat, poultry, fish and whole eggs..
            </li><li>Do not add salt, sugar or honey to your baby’s food. It is unnecessary.
            </li><li>Avoid cow’s milk as a drink in the first 12 months. Small amounts can be used in cereals and custards. 
                All milk used should be pasteurised.
            </li><li>Whole fruit is preferable to fruit juice. Avoid juices and sugar sweetened drinks.
            </li><li>Put your baby to bed without a bottle, or take the bottle away when they have finished feeding to minimise 
                long-term exposure of their teeth to sugar-containing liquids.
            </li><li>Avoid whole nuts, seeds or similar hard foods to reduce the risk of choking.
            </li><li>Introduce foods one at a time. Offer new foods once every three to four days to avoid confusion and to rule out 
                food allergy and sensitivity.
            </li><li>Feed babies during any illness and feed up after illness. Give ample liquids if your baby has diarrhoea.
             </li>
             
             
         </ul>
         <br>
</div>
        </div>
    </div>
</div>


<div class="container">   
    <div class="row d-flex justify-content-center" class="input-group1" >
        <div class="col-md-10 mt-5 pt-5" style="background-color:#E8BECF ;">
          <center>  <h2>Food for young children</h2>
            <hr  class="badge-primary mt-0 w-30" style="width:48%;padding-left:18px;" >
        </center>
       <div style="padding-left:60px;padding-right:60px;"> 
        
       <p>Once a child is eating solids, offer a wide range of foods to ensure adequate nutrition. Young children 
           are often picky with food, but should be encouraged to eat a wide variety of foods. Trying again with new foods
            may be needed for a child to accept that food. As many as eight to fifteen times may be needed.
        
    </p><p> During childhood, children tend to vary their food intake (spontaneously) to match their growth patterns.
         Children’s food needs vary widely, depending on their growth and their level of physical activity. Like energy
          needs, a child’s needs for protein, vitamins and minerals increase with age.
        
    </p><p>  Ideally, children should be accumulating stores of nutrients in preparation for the rapid growth spurt experienced during adolescence. Appropriate weight gain and development will indicate whether food intake is appropriate.
        
    </p><p>   Food-related problems for young children include overweight, obesity, tooth decay and food sensitivities.
    </p>
   <p> Recommendations include:</p>
    <ul>
        
    <li>If a child is gaining inappropriate weight for growth, limit energy-dense, nutrient-poor snack foods. 
        Increase your child’s physical activity. You could also limit the amount of television watching.
    </li><li>Tooth decay can be prevented with regular brushing and visits to the dentist. Avoid sugary foods
         and drinks, especially if sticky or acidic.
    </li><li>Ensure your child has enough fluids, especially water. Fruit juices should be limited and soft
         drinks avoided.
    </li><li>Reduced-fat milks are not recommended for children under the age of two, due to increased energy 
        requirements and high growth rate at this age.
    </li><li>Be aware of foods that may cause allergic reactions, including peanuts, shellfish and cow’s milk. Be 
        particularly careful if there is a family history of food allergy.
   </li> </ul>
<br>
</div>
        </div>
    </div>
</div>

<div class="container">   
    <div class="row d-flex justify-content-center" class="input-group1" >
        <div class="col-md-10 mt-5 pt-5" style="background-color:#DDAF94 ;">
          <center>  <h2>Food for children entering their teenage years</h2>
            <hr  class="badge-primary mt-0 w-30" style="width:85%;padding-left:18px;" >
        </center>
       <div style="padding-left:60px;padding-right:60px;">
        
       <p>The growth spurt as children move into adolescence needs plenty of kilojoules and nutrients. For girls, 
           this generally occurs around 10 to 11 years of age. For boys, it occurs later, at around 12 to 13 years.</p>
        
        <p>Recommendations include:</p>
        <ul>
            <li>
        The extra energy required for growth and physical activity needs to be obtained from foods that also provide nutrients, 
        instead of just ‘empty calories’.
            </li> <li>Takeaway and fast foods need to be balanced with nutrient-dense foods such as wholegrain breads and cereals, fruits, legumes, nuts, vegetables, fish and lean meats.
            </li> <li> Milk, yoghurt and cheese (mostly reduced fat) should be included to boost calcium intake – this is especially important for growing bones. Cheese should preferably be a lower salt variety.
            </li> <li> Adolescent girls should be particularly encouraged to consume milk and milk products. </li>
            </ul>
            <br>
        </div>
        </div>
    </div>
</div>



<br><br><br><br>

<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<img src="{% static 'images/l_o_g_o.jpg' %}">
				<hr class="light">
				<p>938-186-1337</p>
				<p>paipuri.lokesh@gmail.com</p>
				<p>Tirupathi</p>
				<P>517619</P>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Vision</h5>
				<hr class="light">
				<p style="padding-left: 2.3rem ;padding-right: 2.3rem;">Our vision is to bring a social change in every individual in-order to reduce
					food waste and to make the World Hunger Free and raise awareness about food
					loss and food waste amongst citizens
				</p>
				
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Team</h5>
				<hr class="light">
				<p>Rohit Sai</p>
				<p>Varun Simha</p>
				<p>Naga Lokesh</p>
				<p>Raj Kumar</p>
			</div>
		</div>
	</div>
</footer>
    


</body>
</html>
