{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/StyleSheet.css' %}">
</head>
<body style="margin: auto;">
    <div class="hero">
        <div class="form-box" style="height: 550px;">
            <div class="button-box">
                <div id="btn"></div>


                <button type="button" class="toggle-btn" onclick="login()">LOG IN</button>

                <button type="button" class="toggle-btn" onclick="register()">REGISTER</button>
                
                
            </div>

            <form id="login" class="input-group" method="post" action="login">
                {% csrf_token %}


                <input name="user_name1" type="text" class="input-field" placeholder="User Name" required>
                <input name="password1" type="password" class="input-field" placeholder="Enter Password" required>
                <input type="checkbox" class="check-box"><span>Remember Me</span>
                <input type="submit" class="submit-btn" value="LOG IN">

                
                

            </form>
            
            <form id="register" class="input-group" method="post" action="register">
                {% csrf_token %}

                
                <input name="first_name1" type="text" class="input-field" placeholder="First Name" required>
                <input name="last_name1" type="text" class="input-field" placeholder="Last Name" required>
                <input name="user_name1" type="text" class="input-field" placeholder="User Name" required>
                <input name="email" type="email" class="input-field" placeholder="Email Id" required>
                
                
                <input name="password" type="password" class="input-field" placeholder="Enter Password" required>
                
                <input type="submit" class="submit-btn" value="REGISTER">

                
            </form>

            

            

        </div>
    </div>

    <script src="{% static 'js/Script.js'%}">
    </script>
</body>
</html>
