{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/StyleSheet.css' %}">
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">LOG IN</button>
                <button type="button" class="toggle-btn" onclick="register()">REGISTER</button>
            </div>
            <form id="login" class="input-group">
                <input type="text" class="input-field" placeholder="User Name" required>
                <input type="password" class="input-field" placeholder="Enter Password" required>
                <input type="checkbox" class="check-box"><span>Remember Me</span>
                <button type="button" class="submit-btn">LOG IN</button>
            </form>

            <form id="register" class="input-group">
                <input type="text" class="input-field" placeholder="User Name" required>
                <input type="email" class="input-field" placeholder="Email Id" required>
                <input type="password" class="input-field" placeholder="Enter Password" required>
                <input type="checkbox" class="check-box"><span>I agree to T&C</span>
                <button type="button" class="submit-btn">REGISTER</button>
            </form>

        </div>
    </div>

    <script src="{% static 'js/Script.js'%}">
    </script>
</body>
</html>