<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
    #map{
        height: 400px;
        width: 100%;
    }
</style>
</head>
<body>

    <h1>MAPS</h1>


    <div id="map"></div>




    <script>
        //var long=28.4867,lati=17.3850;
        //var long,lati;
        var valid=1;
        window.long=0;
        window.lati=0;
        const success=(position) =>
        {
            
            console.log("xx");
             window.long+=parseFloat(position.coords.longitude);
             window.lati+=parseFloat(position.coords.latitude);
            console.log(window.long);
            valid=0;
            initMap();
   

        };
        const errors=(error) =>
        {
            console.error(error);
        };
        //console.log(success.long);

        navigator.geolocation.getCurrentPosition(success,errors);
        function initMap(){
            if (valid==0){
                console.log(window.lati);
                console.log(window.long);
                var options={
                    zoom:8,
                    center:{lat: window.lati,lng: window.long}
                }
                var map= new google.maps.Map(document.getElementById("map"),options); 

                var marker= new google.maps.Marker({
                    position:{lat: window.lati,lng :window.long},
                    map: map
                });
                addMarker({corods:{lat:17.4399,lng: 78.4983}});
                function addMarker(props){
                    var marker=new google.maps.Marker({
                        position:props.corods,
                        map:map
                    });
                    
                }
            
            
            }

            
        }
        

        
        

    


    </script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZw8cQwKEI5f2AlvXDvuCBZfqwXERSWzA&callback=initMap">
    </script>
</body>
</html>