{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="back" content="0; url=http://www.youtube.com">
	<title>Thankyou</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>

	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">

	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="{% static 'images/l_o_g_o.jpg' %}">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
                <li class="nav-item active">
					<a class="nav-link" href="#">Hello {{name}}</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="home2">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="aboutus2">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Donate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="donation">Donate Food</a>
                      <a class="dropdown-item" href="money">Donate Money</a>
                      
                    </div>
                  </li>
				<li class="nav-item">
					<a class="nav-link" href="profile">Profile</a>
                </li>
                
			</ul>
		</div>
	</div>
</nav>



  <div class="container">
        
    <div class="row d-flex justify-content-center" class="input-group1" >
        <div class="col-md-8 mt-5 pt-5" style="background-color:aliceblue ;">
            <center><h1  style="color: green;">Thank You For Your Donation</h1> </center> 
</div>
</div>
  </div>
<div class="bg-light">
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 mt-5 pt-5">
      <div class="row z-depth-3">
        <div class="col-sm-5   rounded-left"  style="background-color: #DDAF94;">
          <div class="card-block text-center text-while">
                          <br>
            <img src="{% static 'images/collect2.jpg' %}" style="width: auto; height:200px">
                          <br>
                          <br>
                          <br>
                          <img src="{% static 'images/donation_box.jpg' %}" style="width: auto; height:400px">
                          <br>
                          <br>
                          <br>
                          <img src="{% static 'images/food_don.jpg' %}" style="width: auto; height:194px;">
                          <br>
                          <br>
          </div>
        </div>
        <div class="col-sm-7  rounded-right" style="background-color: #E8BECF;">
             
               <br>
               <h2 style="color: blueviolet;"><u>How your Food will be collected:</u></h2>
             </center>         
        <p style="padding-left:.7rem;padding-right:.7rem;padding-top:.3rem;padding-bottom:0.3rem">Our Volunteers will reach you at the address given by you at the time of donation and collect food at your door step.
        </p>
        <p style="padding-left:.7rem;padding-right:.7rem;padding-top:.3rem;padding-bottom:0.3rem">
          Here the food is packed into donation boxes based on the kind of fooditem. We make sure that the food doesn't get spoiled or dirty while packing.
                  </p><p style="padding-left:.7rem;padding-right:.7rem;padding-top:.3rem;padding-bottom:0.3rem"> We are following covid protocols while packing the food. We maintain sanitized environmnet.
        </p>
        <h2 style="color: blueviolet;"><u style="color: blue;">After collecting the food:</u></h2>
                      
        <p style="padding-left:.7rem;padding-right:.7rem;padding-top:.3rem;padding-bottom:0.3rem">Once the food has been collected by the volunteers, it reaches the main center of the concerned city.</p>
        <p style="padding-left:.7rem;padding-right:.7rem;padding-top:.3rem;padding-bottom:0.3rem">
          Here the food is packed into donation boxes based on the kind of fooditem. We make sure that the food doesn't get spoiled or dirty while packing.  </p><p style="padding-left:.7rem;padding-right:.7rem;padding-top:.3rem;padding-bottom:0.3rem"> We are following covid protocols while packing the food. We maintain sanitized environmnet.
        </p>
        <h2 style="color: blueviolet;"><u >Food Distribution:</u></h2>
                      
        <p style="padding-left:.7rem;padding-right:.7rem;padding-top:.3rem;padding-bottom:0.3rem">The packed food is distributed to the needy people, orphanges; with atmost care.</p>
        <p style="padding-left:.7rem;padding-right:.7rem;padding-top:.3rem;padding-bottom:0.3rem">We make sure that only healthy food reaches the people in need of it.</p>
        
                     
          
            
        
        </div>
      </div>
    </div>

  </div>
</div>
</div>


<div class="container">
        
  <div class="row d-flex justify-content-center" class="input-group1" >
      <div class="col-md-8 mt-5 pt-5" style="background-color:aliceblue ;">

<div style="padding-left: 40px;padding-right:20px;">
  <table>
      <tr>
          <th><img src="{% static 'images/employee.png' %}" style="height:30px;width:30px;" ></th>
        <th><h5 style="padding-left: 10px;padding-top:10px">Office Buiding</h5> </th>
        <td><p style="padding-left: 10px;padding-top:20px ;color:orange">	&nbsp;	&nbsp;	&nbsp; &nbsp;&nbsp;&nbsp;{{building}}</p></td>
      </tr>
  </table>
  <table>
      <tr>
          <th><img src="{% static 'images/address_1.png' %}" style="height:30px;width:30px;" ></th>
        <th><h5 style="padding-left: 10px;padding-top:10px">Address</h5> </th>
        <td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td><td><p style="padding-left: 10px;padding-top:20px; color:orange">{{address}}</p></td>
      
      </tr>
  </table>
  <table>
      <tr>
          <th><img src="{% static 'images/whatsapp.png' %}" style="height:30px;width:30px;" ></th>
        <th><h5 style="padding-left: 10px;padding-top:10px">Phone Number</h5> </th>
        <td><p style="padding-left: 10px;padding-top:20px; color:orange">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{phone}}</p></td>
      
      </tr>
  </table>
  <table>
      <tr>
          <th><img src="{% static 'images/clock.png' %}" style="height:30px;width:30px;" ></th>
        <th><h5 style="padding-left: 10px;padding-top:10px">Opening Timings</h5> </th>
        <td><p style="padding-left: 10px;padding-top:20px;color:orange" >&nbsp;09:00 AM - 11:00 PM</p></td>
      
      </tr>
  </table>
  </div>
</div>
</div>
</div>












<br><br><br><br>

<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<img src="{% static 'images/l_o_g_o.jpg' %}">
				<hr class="light">
				<p>938-186-1337</p>
				<p>paipuri.lokesh@gmail.com</p>
				<p>Tirupathi</p>
				<P>517619</P>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Vision</h5>
				<hr class="light">
				<p style="padding-left: 2.3rem ;padding-right: 2.3rem;">Our vision is to bring a social change in every individual in-order to reduce
					food waste and to make the World Hunger Free and raise awareness about food
					loss and food waste amongst citizens
				</p>
				
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Team</h5>
				<hr class="light">
				<p>Rohit Sai</p>
				<p>Varun Simha</p>
				<p>Naga Lokesh</p>
				<p>Raj Kumar</p>
			</div>
		</div>
	</div>
</footer>
    


</body>
</html>